<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NPL Sentiment Analysis - App</title>
        <script src="https://kit.fontawesome.com/6987e8c1a7.js" crossorigin="anonymous"></script>
    </head>

    <body>

        <header>
            <div class="logo">
                NPL Sentiment Analysis App
            </div>
            <div class="github-icon">
                navigation
            </div>
        </header>

        <main>
            <section>

            <form class="" onsubmit="return Client.handleSubmit(event)">

                <p>Write here some text you want to be analized:</p>

                <!-- <div class="checkbox">
                  <input id="text" name="format" value="txt"/>
                  <label for="url">Text</label>
                </div>
                -->

                <textarea required rows="3" column="auto" id="input-text" placeholder="Write something"></textarea>
                <input class="cta" type="submit" value="Analyse" onsubmit="return Client.handleSubmit(event)" onclick="return Client.handleSubmit(event)" />
            </form>

            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p><a href="./">Marika Sartori</a>| Front End Development Nanodegree @ Udacity</p>
            <i class="fab fa-github"><a href="https://github.com/sartorimarika"></a></i>
        </footer>
        <script>
               // Check that service workers are supported
               if ('serviceWorker' in navigator) {
                   // Use the window load event to keep the page load performant
                   window.addEventListener('load', () => {
                       navigator.serviceWorker.register('/service-worker.js').then(registration=>{
                           console.log('registration to Service Worker is successful')
                       });
                   });
               }
               else{
                   console.log('service worker are not supported')
               }
           </script>
    </body>
</html>
